.modal.link-account-modal {
    .title-bar {
        background-color: $oc-red-6;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        font-size: 2rem;
        color: white;
    }
    .message {
        padding: 2rem;
        text-align: center;
        p {
            font-size: 1.4rem;
            margin-bottom: 0.3rem;
            color: $oc-gray-6;
            b {
                color: $oc-gray-8;
                text-transform: capitalize;
            }
            &.warning {
                margin-top: 2rem;
                font-size: 1rem;
                color: $oc-gray-5;
                b{
                    color: $oc-gray-6;
                }
            }
        }
    }
    .footer {
        background: $oc-gray-2;
        padding: 1rem 1rem;
        text-align: center;

        span {
            display: inline-block;
            width: 9rem;
            font-size: 1.3rem;
            padding: 1rem 0 ;
            cursor: pointer;
            &.yes {
                color: $oc-teal-7;
                &:hover {
                    color: $oc-teal-9;
                }
            }
            &.no {
                margin-left: 1rem;
                color: $oc-gray-6;
                &:hover {
                    color: $oc-gray-8;
                }
            }
        }

    }

    @include media("<tablet") {
        .message {
            padding: 2rem 0.5rem;
            p {
                font-size: 1.2rem;
            }
        }

        .footer {
            span {
                width: 7rem;
                font-size: 1.2rem;
            }
        }

    }

}
