.auth-button-wrapper {
    float: right;
    line-height: 4rem;

    .auth-button {

        display: block;
        position: relative;
        color: $oc-gray-5;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 4rem;
        transition: color .3s;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $oc-gray-7;
        }

        span {
            margin-left: 0.5rem;
        }

        i {
            display: none;
        }

        @include media("<tablet") {
            i {
                display: inline-block;;
            }
            span {
                display: none;
            }
        }

    }
}
