.loadmore-wrapper {
    text-align: center;
    margin: 2rem auto;

    .ui.segment{
        border-radius: 0;
        &:not(.inverted) {
            border-top: 2px solid $oc-teal-8;
        }
    }
}

i.close.icon {
	cursor: pointer;
}

.sortby-wrapper {

    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 1rem 0 0 0;

        li {
            display: inline-block;
            flex: 1;
            text-align: center;
            position: relative;
        }
    }

    label {
        position: absolute;
        line-height: 2rem;
        // font-weight: 300;
        color: $oc-gray-5;
        margin-left: -1rem;
        left: 50%;
        top: 0.5rem;
        cursor: pointer;
        &:hover {
            color: $oc-gray-7;
        }

    }

    input[type="radio"] {
        width: 100%;
        max-width: 7rem;
        appearance: none;
        outline: 0;
        cursor: pointer;
        vertical-align: middle;
        padding: 1.5rem 0;


        &:checked + label {
            color: $oc-gray-7;
        }

    }


}

@include media("<tablet") {
    .sortby-wrapper {
        ul {
            margin: 0;
        }
    }
}
