.loadmore-wrapper {
    text-align: center;
    margin: 2rem auto;

    .ui.segment{
        border-radius: 0;
        &:not(.inverted) {
            border-top: 2px solid $oc-teal-8;
        }
    }
}

i.close.icon {
	cursor: pointer;
}

.sortby-wrapper {

    text-align: center;

    button.ui.basic.button.sortby,
    .ui.basic.active.button {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: none!important;

        &.active, &:hover, &:active  {
            color: $oc-gray-7!important;
            background: none!important;
            border-bottom: 1px solid $oc-gray-4;
        }
    }

}

@include media("<tablet") {

}
