.comment-container {
    margin-top: 3rem;

    .header {
        color: $oc-gray-6;
        font-weight: 400;
    }

    .ui.form {
        text-align: right;

        textarea{
            border: 1px solid $oc-gray-2;
            border-radius: 0;
            font-weight: 300;

            &:focus {
                outline: none;
                border: 1px solid $oc-gray-4;
            }
        }
        button {
            display: none;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0 linear 0.3, opacity 0.3;
        }
        button.has, textarea:focus + button {
            display: inline-block;
            visibility: visible;
            opacity: 1;
            transition: visibility 0 linear 0, opacity 0.3;
        }

    }

    .ui.comments {
        max-width: 100%;
    }

}
.comment-wrapper {
    margin: 1rem 0;
    background: $oc-gray-0;
    border: 1px solid $oc-gray-2;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    font-weight: 300;

    .comment-info {
        color: $oc-gray-6;
        font-size: 1rem;

        a {
            color: $oc-teal-7;

            &:hover {
                color: $oc-teal-9;
            }
        }

        .upvote {
            font-size: 1rem;
            padding-right: 0.5rem;
        }

        .time {
            margin-left: 1rem;
            font-size: 0.9rem;
        }

        .comment-setting {
            float: right;

            .creator-option {
                color: $oc-gray-6;
                padding-left: 1rem;
                cursor: pointer;

                &:hover {
                    color: $oc-gray-8;
                }
            }
        }
    }

    .comment-text {
        padding-bottom: 0.5rem;
        font-weight: 300;
        white-space: pre-line;
        font-size: 1.1rem;

        p {
            padding: 0.5rem 0;
        }
        textarea {
            background: none;
            padding: 0.5rem 0;
            border-bottom: 1px solid $oc-gray-3;
            border-top: 1px solid $oc-gray-0;
            border-left: 1px solid $oc-gray-0;
            border-right: 1px solid $oc-gray-0;

            overflow: auto;
            outline: none;
            box-shadow: none;

            &:focus{
                border-bottom: 1px solid $oc-gray-6;
                border-top: 1px solid $oc-gray-0;
                border-left: 1px solid $oc-gray-0;
                border-right: 1px solid $oc-gray-0;
            }

        }
    }

}
.reply.form {
    button {
        margin-top: 1rem;
    }
}



@include media("<tablet") {
    .comment-container {
        margin-top: 2rem;
    }

    .comment-wrapper {
        padding: 0 0.5rem 0.5rem;

        .comment-text {
            padding: 0;
        }
    }
}
