.post-link-wrapper {
    padding: 0 0 1rem;

    .post-title {
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.2;
        letter-spacing: -.028em;
    }

    .post-description {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 300;
        line-height: 1.58;
        letter-spacing: -.004em;
    }

    .post-source {
        font-size: 1rem;
        a {
            color: $oc-gray-6;
        }
    }
}
