.single {

    &.post-wrapper {
        padding: 2rem 1rem 1rem;
        background: none;
        border: none;
        box-shadow: none;

        .post-note {
            padding: 0;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }

    @import 'Comments';
    @import 'PostLink';
    @import 'PostInfo';

    textarea {
        width: 100%;
        border-bottom: 1px solid $oc-gray-2;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        border-radius: 0;
        padding: 0 0 0.5rem;

        overflow: auto;
        outline: none;
        box-shadow: none;

        &:focus{
            outline: none;
            border-bottom: 1px solid $oc-gray-5;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            transition: all 0.5s ease;
        }

    }

    @include media("<desktop") {
        &.post-wrapper {
            padding: 1rem 1rem;
        }
    }

}
