.posts-wrapper {
    margin-top: 1rem;
    min-height: 100vh;
    .loader {
        color: $oc-teal-7;
    }
}


// @include media("<tablet") {
//     .posts-wrapper {
//         margin-top: 0;
//     }
// }
