.post-info-wrapper {
    padding-top: 1rem;
    border-top: 1px solid $oc-gray-2;
    color: $oc-gray-6;

    .post-info-item {
        padding-right: 1rem;
        font-size: 1rem;

        &.comment {
            float: right;
            padding-right: 0;
            a {
                color: $oc-gray-6;
            }
        }

        &.upvote {
            font-size: 1rem;

            .icon {
                padding-right: 0.2rem;
            }
        }

        &.creator {
            a {
                color: $oc-teal-6;
            }
        }

    }
}


@include media("<tablet") {
    .post-info-wrapper{
        padding: 0 1rem;
        border: none;

        .post-info-item {
            padding-right: 0.8rem;
        }
    }
}
