.post-link-wrapper {
    // background: $oc-gray-0;
    margin-bottom: 1rem;

    a {
        color: $oc-gray-8;
    }
    .post-title {
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .post-source {
        text-align: right;
        font-size: 0.8rem;
        font-weight: 200;
        color: $oc-gray-6;
    }
}


@include media("<tablet") {
    .post-link-wrapper {
        padding: 0 1rem 0.5rem;
        margin-bottom: 0;
        border-bottom: 0;

        .post-title {
            margin-bottom: 0.5rem;
        }

    }
}
