.center-column {
    width: 80%;
    margin: 0 auto;
}
.left-column, .right-column {
    width: 10%;
}
@include media("<desktop") {
    .center-column {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .left-column, .right-column {
        display: none;
        width: 0;
    }
}
