.container {
    &.common {
        margin: 3rem auto 0;
        width: 1000px;

        @include media(">wide-desktop") {
            width: 1200px;
        }

        @include media("<desktop") {
            width: 100%;
            padding: 0 1rem;
        }

        @include media("<tablet") {
            width: 100%;
            padding: 0;
        }

    }

    i.teal.icon {
        color: $oc-teal-7!important;
    }
    .ui.teal.button {
        background: $oc-teal-7!important;

        &:hover {
            background: $oc-teal-9!important;
        }
    }

}
