.content {
    position: relative;
    padding: 2rem;
    text-align: center;

    @import 'InputUsername';

    .greeting {
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 300;
    }
    .information {
        margin-top: 2rem;
        font-size: 1.5rem;
        color: $oc-gray-7;
        font-weight: 300;
        line-height: 2rem;
    }


    @include media("<desktop") {
        .greeting {
            line-height: 3rem;
            font-size: 3rem;
        }
        .information {
            margin-top: 1.4rem;
            line-height: 1.6rem;
            font-size: 1.2rem;
        }
    }

    @include media("<tablet") {
        padding: 1rem 0.5rem;

        .greeting {
            font-size: 2.5rem;
        }
    }
}
