.input-username {
    margin-top: 2rem;

    i {
        font-size: 1.5rem;
    }

    .ui.action.input {
        input {
            // width: 100%;
            &:focus {
                border: 1px solid $oc-gray-5;
            }
        }

        &:not([class*="left action"]) input:focus {
            border-right-color: #fff!important;
        }

    }

    .button {
        font-size: 1.3rem;
    }

    @include media(">=desktop") {
        input {
            font-size: 1.5rem;
        }
    }

    @include media("<desktop") {
        .input {
            &.ui[class*="left icon"] {
                > input {
                    padding-left: 3.5rem!important;
                }
            }
        }
    }

}
