.editor-contianer {
    overflow-x: hidden;

    .editor-wrapper {
        margin-top: 1.2rem;
        transition: all 0.5s ease;

    }


    .url-editor {

        .link {
            margin-bottom: 1rem;
            .ui.input {
                input {
                    border-color: $oc-gray-2;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-radius: 0;
                    height: 3rem!important;

                    &:focus {
                        border-color: $oc-gray-4;
                    }
                }
            }
        }
        .extra {
            display: none;
            &.show {
                display: block;
            }
        }
        .input-description {
            margin-bottom: 1rem;

            textarea {
                font-weight: 300;
            }
        }
        .fetching-data{
            .wrapper {
                border-radius: 2px;
                overflow: hidden;
                border: 1px solid #E0E0E0;
                box-shadow: 0 1px 2px rgba(0,0,0,.04);

                .title {
                    font-size: 1.4rem;
                    padding: 1rem 0;
                    // color: $oc-gray-9;
                    font-weight: 400;
                }

                .description {
                    color: $oc-gray-7;
                    font-weight: 300;
                }

                .source {
                    font-weight: 300;
                    color: $oc-gray-6;
                    padding: 0.5rem 1rem;
                    text-align: right;
                }

            }

        }
    }

    textarea {
        width: 100%;
        border-bottom: 1px solid $oc-gray-2;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        border-radius: 0;
        padding: 0 1rem 0.5rem;

        &:disabled{
            background: none;
            border: 1px solid #fff;
            transition: all 0.5s ease;
        }

        &:focus{
            outline: none;
            border-bottom: 1px solid $oc-gray-5;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            transition: all 0.5s ease;
        }

    }

    .footer {
        margin-top: 1rem;
        text-align: right;
    }

    @include media("<tablet") {

    }
}
